@import "tailwindcss";

@keyframes zoomInBeforeSlide {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  
  .zoom-animation {
    animation: zoomInBeforeSlide 3.5s ease-in-out forwards;
  }
  